<form action="/login" method="post">
    <h1>login</h1>
    <input type="text" name="username" placeholder ="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
</form>

<form action="/register" method="post">
    <h1>Create a User</h1>
    <input type="text" name="username" placeholder ="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmedpassword" placeholder="Confirm password">
    <input type="submit" value=" Log in">
</form>

<a href="/"> Back </a>